/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
*.zip
.env
.env.backup
.env.production
.phpunit.result.cache
mkta-catalog.zip
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
mkta-catalog.zip
[backup_file].sql
